<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h2>Update your rental for: <%= @rent.galaxy.name %></h2>
      <div>
        <%= image_tag('homegalaxy.jpeg', style:"width: 100%; max-width:500px") %>

        <p><%= @rent.galaxy.description %></p>
        <p>Price Per Day $ <%= @rent.galaxy.price %></p>
        <p>Owner: <%= @rent.galaxy.owner %></p>
      </div>

      <div>
        <%= simple_form_for(@rent) do |f| %>

          <%= render "rent_errors_form" %>

          <div>
            <%= f.label :start_date, class: "label" %>
            <%= f.date_field :start_date, min: Date.today %>
          </div>
          <div>
            <%= f.label :end_date, class: "label" %>
            <%= f.date_field :end_date, min: Date.tomorrow %>
            </div>
          <div>
            <%= f.button :submit, class: "btn btn-ghost" %>
          </div>
        <% end %>

      </div>
      <hr size="1">
      <div>
        <%= link_to "Back", :back, class: "btn btn-ghost" %>
      </div>
      <hr size="1">
      <p>Can't make it?</p>
      <%= link_to "Cancel Rental", rent_path(@rent), method: :delete, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
