<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h2>My rentals</h2>

      <% @rents.each do |rent| %>
        <p>Galaxy: <%= rent.galaxy.name %></p>
        <%= image_tag('homegalaxy.jpeg', style:"width: 100%; max-width:100px") %>
        <p>Start Date: <%= rent.start_date.strftime("%b %d, %Y") %></p>
        <p>End Date: <%= rent.end_date.strftime("%b %d, %Y") %></p>
        <%= link_to "Details", rent_path(rent), class: "btn btn-ghost" %>
        <%= link_to "Edit", edit_rent_path(rent), class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
