<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h2>Rent this Galaxy: <%= @galaxy.name %></h2>
      <div>
        <%= image_tag('homegalaxy.jpg', style:"width: 100%; max-width:500px") %>

        <p><%= @galaxy.description %></p>
        <p>Price Per Day $ <%= @galaxy.price %></p>
        <p>Owner: <%= @galaxy.owner %></p>
      </div>

      <div>
        <%= simple_form_for([@galaxy, @rent]) do |f| %>

          <%= render "rent_errors_form" %>

          <div>
            <%= f.label :start_date, class: "label" %>
            <%= f.date_field :start_date, min: Date.today %>
          </div>
          <div>
            <%= f.label :end_date, class: "label" %>
            <%= f.date_field :end_date, min: Date.tomorrow %>
            </div>
          <div>
            <%= f.button :submit, class: "btn btn-ghost" %>
          </div>
        <% end %>

        <hr size="1">
        <%= link_to "Back", :back, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>
