<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3">
      <h2>Details for your rental</h2>

      <p>Galaxy Rented: <%= @rent.galaxy.name %></p>
      <p>Galaxy ID: <%= @rent.galaxy.id %></p>
      <p>User: <%= @rent.user_id %></p>
      <p>Start Date: <%= @rent.start_date %></p>
      <p>End Date: <%= @rent.end_date %></p>
    </div>
  </div>
</div>
