<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h2>Details for your rental for: <%= @rent.galaxy.name %></h2>

      <%= image_tag('homegalaxy.jpg', style:"width: 100%; max-width:500px") %>

      <p><%= @rent.galaxy.description %></p>
      <p>Price Per Day $ <%= @rent.galaxy.price %></p>
      <p>Owner: <%= @rent.galaxy.owner %></p>

      <p>Start Date: <%= @rent.start_date.strftime("%b %d, %Y") %></p>
      <p>End Date: <%= @rent.end_date.strftime("%b %d, %Y") %></p>

      <%= link_to "Back", rents_path, class: "btn btn-ghost" %>
      <%= link_to "Edit", edit_rent_path(@rent), class: "btn btn-ghost" %>
    </div>
  </div>
</div>
