 <!-- MAIN (Center website) -->
<div class="main">

<h1>All Galaxies</h1>
<hr>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <% @galaxies.each do |g| %>
    <div class="column">
      <div class="content">
        <%= image_tag('homegalaxy.jpg', style:"width:100%") %>
        <h3><%= g.name %></h3>
        <p><%= truncate(g.description, length: 50, separator: ' ') %></p>
        <p>Price $ <%= g.price %></p>
        <p>Owner: <%= g.owner %></p>
        <%= link_to "Details", galaxy_path(g), class: "btn btn-ghost" %>
        <%= link_to "Rent", new_galaxy_rent_path(g), class: "btn btn-ghost" %>
      </div>
    </div>
  <% end %>
</div>

<!-- END MAIN -->
</div>
