<% content_for(:title) do %>
  Rent this galaxy- <%= @galaxy.name %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-3">
        <h1><%= @galaxy.name %></h1>
        <h2><%= @galaxy.headline %></h2>
        <%= image_tag('homegalaxy.jpg', style:"width: 100%; max-width:500px") %>
        <p><%= @galaxy.description %></p>
        <p>Daily Rate $ <%= @galaxy.price %></p>
        <p>Owner: <%= @galaxy.owner %></p>
        <%= link_to "Back", :back, class: "btn btn-ghost" %>
        <%= link_to "Rent", new_galaxy_rent_path(@galaxy), class: "btn btn-ghost" %>
    </div>
  </div>
</div>
